<h1 class="page-header">File <small>{{file.filename}}</small></h1>
<fieldset>
	<legend>File properties</legend>
  <div class="form-group row">
    <label class="col-md-2 control-label">Type</label>  
    <div class="col-md-8">
      <button type="button" class="btn btn-default form-control dropdown-toggle">{{file.metadata.type}}<span class="caret"></span></button>
      <ul class="dropdown-menu selectbox">
        <li ng-repeat="type in types"><a ng-click="file.metadata.type = type">{{type}}</a></li>
      </ul>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 control-label">Name</label>  
    <div class="col-md-8">
      <input type="text" placeholder="placeholder" ng-model="file.filename" class="form-control input-md">
    </div>
  </div>
	<div class="form-group row">
    <label class="col-md-2 control-label">Content Type</label>  
    <div class="col-md-8">
      <input type="text" placeholder="placeholder" ng-model="file.contentType" class="form-control input-md">
    </div>
  </div>
</fieldset>
<fieldset>
	<legend ng-click="showPreview = !showPreview">File preview</legend>
	<div ng-if="showPreview">
		<div cn-file-editor filename="/admin/files/{{file._id}}?contents&{{suffix}}" filetype="file.contentType"></div>
	</div>
</fieldset>
<fieldset>
	<legend>File actions</legend>
	<button class="btn btn-success" ng-click="save()">Save</button>
</fieldset>