<div class="page-header">
  <h1>Files <small><i class="icon-double-angle-right"></i> manage your files</small>
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{selectedBucket.name}} <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-click="selectBucket(standardBucket)">Standard</a></li>
      <li ng-repeat="bucket in buckets"><a ng-click="selectBucket(bucket)">{{bucket.name}}</a></li>
    </ul>
  </div>
  </h1>
  <!-- Single button -->
  <fieldset>
    <legend>Actions</legend>
    <div>
      <div ng-controller="FileUploadCtrl">
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="bg-success" class="well text-center" ng-show="dropSupported">
          <p>Drop files here or</p>
          <button class="btn btn-success" ng-click="addFile()"><i class="fa fa-floppy-o"></i> Create new file</button>
        </div>
        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Folder: {{folder}}</legend>
    <table class="table table-striped">
      <tr>
        <th>Filename</th>
        <th>Content Type</th>
        <th>Actions</th>
      </tr>
      <tr ng-show="folder !== '/'">
        <td><a ng-click="switchTo('/')">..</td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="file in files| filter:{ contentType: 'inode/directory'}">
        <td><a ng-click="switchTo(file.filename)">{{file.filename}}</a></td>
        <td>{{file.contentType}}</td>
        <td>
          <a class="btn btn-warning" ng-click="edit(file)"><i class="fa fa-pencil"></i></button>
        </td>
      </tr>
      <tr ng-repeat="file in files| filter:{ contentType: '!inode/directory'}">
        <td><a ng-click="edit(file)">{{file.filename}}</a></td>
        <td>{{file.contentType}}</td>
        <td>
          <a class="btn btn-warning" ng-click="edit(file)"><i class="fa fa-pencil"></i></a>
          <button class="btn btn-danger" ng-click="remove(file)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </table>
  </fieldset>
</div>